//- includes/head.jade
head
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" href="../../favicon.ico")
  title #{config.application.title}
  each val, index in config.adminScripts
    script(src=val)
  each val, index in config.adminStylesheets
    link(rel='stylesheet', href=val)